/*font-family: 'Gothic A1', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Raleway', sans-serif;*/

:root{
    --eggshell-color:#ECE5C7;
    --darker-eggshell:#CDC2AE;
    --light-green:#C2DED1;
    --darker-green:#6CC4A1;
    --blue:#354259;

}

*{
    border:0;
    margin:0;
    box-sizing:border-box;
    font-size:62.5%;
}

body{
    font-family:'Gothic A1', sans-serif;
}
a{
    text-decoration:none;
}

li{
    list-style:none;
}


p{
    font-size:2rem;
}

header{
    background-color:var(--eggshell-color);
    position:sticky;
    top:0;
}

/*LOGO*/
.logo{
   font-family:'Raleway';
    font-size:7rem;
    background-color:var(--eggshell-color);

}

/*NAVBAR*/

#navbar{
    height:2.2em;
    width:100%;
    font-size:4rem;
    background-color: var(--light-green);
    top:0;
}

.nav-links{
    display:flex;
    justify-content:space-evenly;
    align-items:center;
  font-size:5rem;
  height:100%;
  padding-inline-start: 0;
 
  


  
}
 
 .nav-links li{
    display:flex;
    justify-content:space-between;
    align-content: center;
    padding-top:2rem;
    

 }

 
 a:link{
    color:var(--blue);

 }




.dropdown{
    position:relative;
}

.projects-title{
    margin-top:2rem;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-size:4rem;
    text-align:center;
    
}

#welcome-section{
    display:flex;
    flex-direction: column;
    justify-content: center;
    height:100vh;
background-color:var(--blue);
    text-align:center;
    font-size:9rem;
    color:var(--darker-eggshell);
}

.hi{
    font-weight:900;
    padding-bottom:3rem;
   
}

p{
    font-family:Raleway;
    padding-top:2rem;
    padding-bottom:3rem;
}

.projects-grid{
    display:grid;
    justify-content:center;
    background-color:var(--darker-eggshell);
    gap:5rem;
    border-bottom: 2rem;
    padding-bottom: 3rem;

}

.projects-title{
    background-color:var(--darker-eggshell);
    margin-top:0;
    border-bottom: 2rem;
}

.project-image{
    height:30rem;
    width: 30rem;
    object-fit:fill;
    padding:1.5rem;
    border:.5rem double black;
    background-color:var(--light-green)

}

.project-title{
    text-align: center;
    margin-top:0;
    background-color:var(--blue);
    color:var(--eggshell-color);
    
}

.contact-header{
    
    font-size:3rem;
text-align:center;
padding-top:6rem;
}

.contact-section-header{
   display:flex;
   flex-direction: column;
   justify-content:space-evenly;
    height:30rem;
    background-color:var(--light-green);
}

.btn-contact:hover{
    color:black;
}

.contact-icons-group{
    display:flex;
   justify-content:space-evenly;
}

i{
    
    width:6rem;
    height:6rem;
    font-size: 5rem;
    color:var(--blue);
    
}



.links-text{
    font-size:2rem;
    color:var(--blue);
}

@media screen and (min-width: 480px) {
    body {
      background-color: lightgreen;
    }
  }